name: Deploy to staging

on:
  push:
    branches:
      - "main"

jobs:
  redeploy_everything:
    name: Deploying everything to the staging cluster
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Setup SSH agent and add key
        run: |
          eval "$(ssh-agent -s)"
          echo "${{ secrets.PRIVATE_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-add ~/.ssh/id_ed25519 <<< "${{ secrets.SSH_PASSPHRASE }}"

      - name: SSH and deploy
        run: |
          ssh -o StrictHostKeyChecking=yes -i ~/.ssh/id_ed25519 ubuntu@13.201.87.224 << 'EOF'
            cd bms/
            git pull
            pnpm install
            pnpm run build
            pm2 restart http-server
            pm2 restart ws-server
            pm2 restart fd-server
          EOF
